* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(187, 174, 143, 0.363);
}

.parent {
    max-width: 800px;
    display: flex;
    overflow: hidden;
    border: 10px solid rgb(0, 0, 0);
    cursor: pointer;
  
    transition: all 0.9 ease-in;
}

.child {
    min-width: 200px;
    height: 350px;
    background-color: rebeccapurple;
    color: #fff;
    margin-right: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.active {
    cursor: grabbing;
}