* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.parent {
    max-width: 800px;
    display: flex;
    overflow: hidden;
    border: 5px solid red;
    cursor: pointer;
    transition: all 0.4 ease-out;
}

.box {
    min-width: 200px;
    height: 350px;
    background-color: mediumblue;
    color: #fff;
    margin-right: 1rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:last-child {
    margin-right: 0;
}

.active {
    cursor: grabbing;
}